<div class="mat-elevation-z8 demo-table">
    <table mat-table [dataSource]="dataSource" class="demo-table">
    <ng-container matColumnDef="demo-id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let client"> {{client.id}} </td>
    </ng-container>

    <ng-container matColumnDef="demo-name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let client"> {{client.name}} </td>
    </ng-container>

    <ng-container matColumnDef="demo-lastName">
      <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
      <td mat-cell *matCellDef="let client"> {{client.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="demo-cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let client"> {{client.cpf}} </td>
    </ng-container>

    <ng-container matColumnDef="demo-edit-button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let client">
          <app-edit [client] = "client"></app-edit>
      </td>
    </ng-container>

    <ng-container matColumnDef="demo-remove-button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let client">
          <app-remove [client] = client></app-remove>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


