<div *ngIf="isLogg">
  <p>Usuário logado: {{nameClient}}</p>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="demo-id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let product"> {{product.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="demo-description">
      <th mat-header-cell *matHeaderCellDef> Descrição do produto </th>
      <td mat-cell *matCellDef="let product"> {{product.description}} </td>
    </ng-container>

    <ng-container matColumnDef="demo-add">
      <th mat-header-cell *matHeaderCellDef>Adicionar produtos</th>
      <td mat-cell *matCellDef="let product">
        <app-add-product [product] = product></app-add-product>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  