<div class="container">
    <tr>
        <td>
            <h2 class="title">{{ title }}</h2>
        </td>
        <td *ngIf="title === 'Clientes'">
            <app-add class = "button"></app-add>
        </td>
        <td *ngIf="title === 'Produtos' && !isLoogedin">
           <app-add-order class = "button"></app-add-order>
        </td>

        <td *ngIf="title === 'Produtos' && isLoogedin">
            <app-logout class = "button"></app-logout>
        </td>

        <td *ngIf="title === 'Pedidos'">
            
         </td>
    </tr>
</div>